CONTAINER_NAME=dashboard-gen

TZ=America/Toronto

HA_URL=http://homeassistant.local:8123
HA_TOKEN=replace_me
WEATHER_ENTITY=weather.forecast_home
CALENDAR_ENTITY=calendar.example
TODO_ENTITY=todo.daily_to_do

OLLAMA_URL=http://ollama:11434
OLLAMA_MODEL=qwen2.5:32b

COMFY_URL=http://comfyui:8188

EPD_PUSH_URL=http://epd-device.local/bin
EPD_PUSH_ENABLED=0
EPD_PUSH_FAIL_HARD=0
EPD_ROTATE_CW=270

COMFY_WORKFLOW_FILE=/app/workflows/picture_api.json
COMFY_INPUT_IMAGE=portrait.jpg
DEBIAN_FRONTEND=noninteractive

OUTPUT_DIR=/opt/homepage/generated
WORKFLOWS_DIR=/opt/dashboard-gen/workflows
ASSETS_DIR=/opt/dashboard-gen/assets
FRAME_TOOLS_DIR=/opt/frame-tools

HOST_PORT=8787
CONTAINER_PORT=8787